main{
    display: flex;
    flex-direction:row;
}


.lts{
    
    background-color: green;
    display: inline;
    align-items: flex-start;
    align-content: bottom;
    text-align:end;
    padding-bottom: 10px;

    
}

.rts{
    direction: ltr;
    justify-content: space-evenly;
    background-color: black;
    display: flex;
    margin-left: 50em;
    
}

#lm{
    display: inline;
    
}
#nav{
    background-color: black;
    margin-bottom: 10px;
}

#f1{
    margin-left: 30px;
}

a{
    color: white;
}

#nol{
    background-color: green;
}

.para{
    display: flex;
    flex-direction: row;
    flex-flow: column;
    width: 500px;
    border: solid black;
    justify-content: center;
    text-emphasis: bold;
    
}


#pa1{
    flex: 1;
    background-color: white;
    border:solid black;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    height: 100px;

    
}

#pa2{
    flex: 1;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 30px;
    height: 100px;
}

#pa3{
    flex: 1;
    background-color: white;
    flex-direction: row;
    
    justify-content: flex-start;
    column-gap: 30px;
    height: 100px;
}

.se{
    direction: ltr;
    display: flex;
    align-items: flex-start;
   
}   

#pa4{
    
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-flow: column;
    width: 500px;
    border: solid black;
    justify-content: center;
    text-emphasis: bold;
    margin-left: 5em;
}

#m1{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px; 
    align-self: center;
}

#m2{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
    
}


#m3{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
    
}

#n1{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
}

#n2{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
}

#n3{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self:center;
    margin-right: 30px;
}

#o1{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
    margin-left: 30px;
}

#o2{
    display: flex;
    align-self: center;
    background-color: black;
    height: 50px;
    width: 50px;
}

#o3{
    display: flex;
    background-color: black;
    height: 50px;
    width: 50px;
    align-self: center;
}

p{
    color: white;
   
}
h4{
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}